.article {
  margin-top: 216px;
  background: url(../images/vector2.svg) no-repeat center right ;
  &-list{
    display: flex;
    gap: 34px;
    margin-top: 79px;
    margin-bottom: 69px;
}
  &-item{
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
  &-content{
    padding: 24px 51px 35px 33px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
  &-heading{
    font-weight: 700;
    font-size: 21px;
    line-height: calc(32 / 21);
    color: $black;
}
  &-desc{
    color: #7D7987;
    font-size: 16px;
    line-height: calc(28 / 16);
    margin-top: 12px;
    margin-bottom: 25px;
}
  &-link{
    color: #4089ED;
    font-weight: 600;
    font-size: 17px;
    line-height: calc(28 / 17);
    margin-top: auto;
}
  &-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (max-width: 1023.98px) {
    margin-top: 130px;
    // grid-scroll-snap
    &-list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 330px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
    //fix boxshadow
    padding: 0 20px 40px;
    margin-left: -20px;
    }
    &-list::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &-list > *{
      scroll-snap-align: start;
    }
  }
  
}